<div class="modal-header">
  <h4 class="modal-title pull-left">Update Order</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="orderFormupdate">
    <input type="hidden" formControlName="order_id" name="order_id" />
    <div class="mb-3">
      <label for="stockId" class="form-label">Stock</label>
      <select
        formControlName="stockId"
        class="form-select"
        id="stockId"
        aria-label="Floating label select example"
        name="stockId"
      >
        <option selected>Open this select menu</option>
        <option *ngFor="let stock of stocks" [ngValue]="stock.id">
          {{ stock.name }}
        </option>
      </select>
      <div
        *ngIf="
          orderFormupdateControls['stockId'].hasError('required') &&
          orderFormupdateControls['stockId'].touched
        "
        class="text-danger"
      >
        Stock is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="Quantity">Quantity</label>
      <input
        formControlName="quantity"
        type="number"
        class="form-control"
        id="Quantity"
        placeholder="Quantity"
        name="quantity"
      />
      <div
        *ngIf="
          orderFormupdateControls['quantity'].hasError('required') &&
          orderFormupdateControls['quantity'].touched
        "
        class="text-danger"
      >
        Quantity is required.
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
    Close
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onSave()"
    [disabled]="!orderFormupdate.valid"
    type="submit"
  >
    Save
  </button>
</div>
